//引入"Josefin Sans"字体
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-Italic-4.ttf')
  font-weight: normal, 400
  font-style: italic, oblique
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-Bold-2.ttf')
  font-weight: bold, 700
  font-style: normal
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-BoldItalic-3.ttf')
  font-weight: bold, 700
  font-style: italic, oblique
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-Light-5.ttf')
  font-weight: 200
  font-style: normal
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-LightItalic-6.ttf')
  font-weight: 200
  font-style: italic, oblique
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-Regular-7.ttf')
  font-weight: normal, 400
  font-style: normal
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-SemiBold-8.ttf')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-SemiBoldItalic-9.ttf')
  font-weight: 600
  font-style: italic, oblique
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-Thin-10.ttf')
  font-weight: 100
  font-style: nomal
@font-face
  font-family: 'Josefin Sans'
  src: url('~common/fonts/font/JosefinSans/JosefinSans-ThinItalic-11.ttf')
  font-weight: 100
  font-style: italic, oblique

//引入inconsolata.otf字体
@font-face
  font-family: inconsolata
  src: url('~common/fonts/font/inconsolata/Inconsolata.eot'),
       url('~common/fonts/font/inconsolata/Inconsolata.otf')
  font-weight: normal
  font-style: normal

//引入字体图标
@font-face
  font-family: 'iconfont'
  src: url('~common/fonts/font-icon/iconfont.eot')
  src:
    url('~common/fonts/font-icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('~common/fonts/font-icon/iconfont.woff2') format('woff2'),
    url('~common/fonts/font-icon/iconfont.woff') format('woff'),
    url('~common/fonts/font-icon/iconfont.ttf') format('truetype'),
    url('~common/fonts/font-icon/iconfont.svg#iconfont') format('svg')
.iconfont
  font-family: "iconfont" !important
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
