// =================================================================================
//                                   normal theme
// =================================================================================

// =================================  font start ===================================
// font faces
$body-font = "Josefin Sans", inconsolata, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", arial, sans-serif
$code-font = "Inconsolata", "Helvetica Neue", monaco, courier, monospace

// font sizes
$body-font-size = 16px
$code-font-size = .8em
// =================================  font end ======================================

// =================================  color start ===================================
// normal colors
$color-page-background = #F4F6F7
$color-content-background = #ffffff
$color-nav = #ff5f5f
$color-on-hover = #6db33f
$color-header-mobile = #15A2CB
$color-footer-mobile = #263136
$color-timeline-calendar = #6DB33F
$color-timeline-checked = #FF9966
$color-timeline-unchecked = #BBBBBB
$color-timeline-tag = $color-timeline-calendar
$color-pagination-alive = $on-hover-color
$color-scroll-progress-ground = #4D4646
$color-tag-label = #99CA79

//font colors
$color-font-blog-name = #2d8cf0
$color-font-blog-desc = #5e5e5e
$color-font-module-name = $color-blog-desc
$color-font-content = #111111
$color-article-font = #4C4948

// iview ui theme color
$color-main-primary = #2d8cf0
$color-secondary-sucess = #19be6b
$color-secondary-warning = #ff9900
$color-secondary-error = #ed4014
$color-secondary-info = #2db7f5

// box border related
$color-border = #dddddd
$color-border-hover = $color-on-hover

// gradually changing color
$color-gradually-gray-11 = #1C1C1C
$color-gradually-gray-21 = #363636
$color-gradually-gray-31 = #4F4F4F
$color-gradually-gray-41 = #696969
$color-gradually-gray-51 = #828282
$color-gradually-gray-61 = #9C9C9C
$color-gradually-gray-71 = #B5B5B5
$color-gradually-gray-81 = #CFCFCF
$color-gradually-gray-91 = #E8E8E8
$color-gradually-gray-101 = #f9f9f9
// =================================  color end ===================================

// =================================  size start ===================================
$size-xxl = 1600px
$size-xl = 1200px
$size-lg = 992px
$size-md = 768px
$size-sm = 576px

$header-height-pageContent = 30px
$footer-height-pageContent =30px
// =================================  size end ===================================
