package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * @Description $!{table.comment}
 * @Author zhaochao
 * @Date ${date}
 * @Email zcprog@foxmail.com
 * @Version V1.0
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

        }
#end
