.article-page-content
  >>>h1
    margin 1rem 0
    line-height 32px
    font-size 18px
    font-weight 600
    border-bottom 1px solid #ececec
    &:before
      content '#'
      margin-right 8px
      font-size 18px
      color #6DB33F
  >>>h2
    margin 0.8rem 0
    line-height 28px
    font-size 16px
    font-weight 600
    &:before
      content '>'
      margin-right 8px
      font-size 16px
      color #FFAD85
  >>>h3,h4,h5,h6
    margin 0.5rem 0
    line-height 28px
    font-size 14px
    font-weight 600
    &:before
      content '>>'
      margin-right 8px
      font-size 1rem
      color #FFAD85
  >>>p
    padding 0 10px
    text-indent 2em
    text-align justify
    line-height 28px
    font-size 14px

