/* 设置盒子模型 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 设置字体，颜色 */
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #303133;
  background-color: #ffffff;
}

/* 设置链接样式 */
a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}

/* 设置图片垂直居中 */
img {
  vertical-align: middle;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* 动画效果 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}
