<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progzc.blog.mapper.sys.SysUserMapper">
    <!--根据用户id查询用户的权限-->
    <select id="queryPermsByUserId" resultType="java.lang.String">
        select m.perms from sys_user_role ur
            left join sys_role_menu rm on ur.role_id=rm.role_id
            left join sys_menu m on rm.menu_id = m.menu_id
        where ur.user_id = #{userId}
    </select>

    <!--根据用户id查询用户菜单-->
    <select id="queryAllMenuId" resultType="java.lang.Long">
        select distinct rm.menu_id from sys_user_role ur
            left join sys_role_menu rm on ur.role_id = rm.role_id
        where ur.user_id = #{userId}
    </select>

</mapper>
