<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progzc.blog.mapper.sys.SysUserMapper">
    <!--根据用户id查询用户的权限-->
    <select id="queryPermsByUserId" resultType="java.lang.String">
        select sm.perms from sys_user_role sur
          left join sys_role_menu srm on sur.role_id=srm.role_id
          left join sys_menu sm on srm.menu_id = sm.menu_id
        where sur.user_id = #{userId}
    </select>

</mapper>
