<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.progzc.blog.mapper.operation.TagMapper">

    <!--根据id和类型查询标签列表-->
    <select id="listByLinkId" resultType="com.progzc.blog.entity.operation.Tag">
        select t.* from tag t left join tag_Link tl on t.id = tl.tag_id
        <where>
            <if test="linkId!=null">
                and tl.link_id = #{linkId}
            </if>
            <if test="type!=null">
                and t.type = #{type}
            </if>
        </where>
    </select>

</mapper>
